/*Estilos da página index.html*/
.center {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  display: inline;
  padding: 15px;
}

#menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#menu li a:hover {
  color: red;
}

.p-30 {
  padding: 30px;
}

#foto-principal {
  width: 300px;
  height: 300px;
}

footer {
  text-align: center;
}

.footer-img {
  width: 40px;
  height: 40px;
  margin: 0 15px 15px 0;
}

.linha-horizontal {
  height: 2px;
  background-color: #d0d0d0;
  margin: 20px 0;
}

#video-favorito {
  margin-bottom: 20px;
}

/*Estilos da página contato.html*/
label {
  display: block;
  width: 100%;
}

button {
  margin-top: 15px;
  display: block;
}

#txtNome,
#txtEmail {
  margin-bottom: 5px;
}
